body {
  background-color: #ffffff9e;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 350px;
  max-width: 90%;
  transition: transform 0.3s ease;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #93f38a;
  margin: 0 0 20px;
  text-transform: uppercase;
}

input {
  margin: 10px 0;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}

input::placeholder {
  font-size: 14px; /* Adjust placeholder font size */
}

button {
  background-color: #28a745;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: auto;
  font-size: 18px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

a {
  color: #b6fa68;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

/* Video background container */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .form-container {
      width: 85%;
      padding: 18px;
      transform: scale(1.05);
  }

  h2 {
      font-size: 28px;
  }

  input {
      padding: 8px;
      font-size: 14px;
  }

  button {
      width: auto;
      padding: 8px 14px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .form-container {
      width: 90%;
      padding: 16px;
      transform: scale(1.1);
  }

  h2 {
      font-size: 24px;
  }

  input {
      padding: 7px;
      font-size: 13px;
  }

  button {
      width: auto;
      padding: 7px 12px;
      font-size: 12px;
  }
}